# Maven
target/
pom.xml.tag
pom.xml.versionsBackup
pom.xml.next
release.properties
# specific to maven builds
*.class

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Operating System Files
.DS_Store
Thumbs.db

# Docker
